/* General targetting css ----------------------- */
/* Reset element padding & margins */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    padding-top: 12vh;
    overflow: hidden;
}

/* Navbar styles */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 12vh;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center; /* Center navigation links */
    z-index: 1000;
    box-shadow: 0 4px 10px #757881;
}

.navbar nav {
    flex: 1;
    display: flex;
    justify-content: center;
}

.navbar nav ul {
    display: flex;
    list-style: none;
}

.navbar nav a {
    color: #fff;
    text-decoration: none;
    padding: 0 15px;
    font-size: 16px;
}

.navbar nav a:hover {
    color: #6F7C68;
}

.navbar-icons {
    position: fixed;
    top: 0; /* Align with the top of navbar */
    right: 20px; /* Position the images on the right */
    height: 12vh;
    display: flex;
    align-items: center;
    gap: 10px; /* Space between images */
    z-index: 1001; /* Ensure it appears above the navbar */
}

/* Styles for the circular images */
.navbar-icons img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.navbar-icons img:hover {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/* Full-screen content section styling */
.content {
    height: calc(100vh - 12vh);
    display: flex;
    padding: 20px;
    scroll-margin-top: 12vh;
}

#screen-title {
    margin: 0 auto;
}

/* Individual screens css ----------------------- */
/* Home screen content -------------------------- */
#home-screen img {
    border-radius: 50%;
    display: block;
    margin: 20px auto;
}

/* Left column styles */
#left-column {
    width: 40%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

#left-column h1, h2, h3 {
    text-align: center;
}

#left-column h2 {
    margin: 0;
    font-weight: 300;
    font-size: 1.5rem;
}

#left-column h3 {
    margin: 5px 0;
    font-style: italic;
    font-weight: 300;
    font-size: 1rem;
}

#summary {
    display: flex;
    justify-content: center;
}

/* Right column styles */
#right-column {
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}

/* Shadow box styles */
.shadow-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px #757881;
    margin: 20px 0;
    height: 100%;
}
